nav {
  display: flex;
  flex-flow: row no-repeat;
  justify-content: space-between;
  background-color: gray;
  padding: 0.3rem;
}

.navbar-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.main-logo {
  margin: auto 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}
.main-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.car-card {
  display: flex;
  flex-flow: column nowrap;
  max-width: 40%;
  align-items: center;
}

img {
  padding: 3rem;
  padding-bottom: 0.5rem;
  object-fit: cover;
  max-width: 100%;
  height: 300px;
}
.car-container {
  display: flex;
  flex-flow: row nowrap;
  max-width: 85%;
  align-items: baseline;
  justify-content: space-between;
}

button {
  padding: 0.3rem;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
}

.single-car-img {
  display: flex;
  justify-content: center;
}
